flask
flask-script
flask-bootstrap
flask-moment
flask-WTF
flask-login
flask-sqlalchemy
flask-migrate
flask-whooshalchemy

flask-httpauth

#sqlalchemy_imageattach

#gopigo		#directly copying the modified version in /app
rpi.gpio
smbus-cffi	#not needed for gopigo?
picamera
#threading 	#already included in standard library
#io		#standard
rauth


