flask
flask-script
flask-bootstrap
flask-moment
flask-WTF
flask-login
flask-sqlalchemy
flask-migrate
flask-whooshalchemy

itsdangerous

flask-httpauth

rpi.gpio
smbus-cffi	#not needed for gopigo?
picamera
rauth


