{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    {% for message in get_flashed_messages() %}
        <p><b>Error</b>: {{ message }}</p>
    {% endfor %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p><a href="{{ url_for('oauth_authorize', provider='google') }}">Login with Google</a></p>
        <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a></p>
        <p><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Login with Twitter</a></p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
