{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="btn-group btn-group-justified">
	<a href="/motor/motor_forward" class="btn btn-lg btn-success">Forward</a>
	<a href="/motor/motor_backward" class="btn btn-lg btn-warning">Backward</a>
	<a href="/motor/left" class="btn btn-lg btn-primary">Left</a>
	<a href="/motor/right" class="btn btn-lg btn-info">Right</a>
	<a href="/motor/stop" class="btn btn-lg btn-danger">Stop</a>
</div>

<div class="btn-group btn-group-justified">
    <form action="" method="POST">
        {{ formFW.hidden_tag() }}
        <p>
            {{ formFW.forward_distance.label }}<br>
            {{ formFW.forward_distance(size=2) }}
            {{ formFW.forward_submit }}            
        </p>
    </form>
    <form action="" method="POST">
        {{ formBW.hidden_tag() }}
        <p>
            {{ formBW.backward_distance.label }}<br>
            {{ formBW.backward_distance(size=2) }}
            {{ formBW.backward_submit }}            
        </p>
    </form>
    <form action="" method="POST">
        {{ formLT.hidden_tag() }}
        <p>
            {{ formLT.lturn_degrees.label }}<br>
            {{ formLT.lturn_degrees(size=2) }}
            {{ formLT.lturn_submit }}            
        </p>
    </form>
    <form action="" method="POST">
        {{ formRT.hidden_tag() }}
        <p>
            {{ formRT.rturn_degrees.label }}<br>
            {{ formRT.rturn_degrees(size=2) }}
            {{ formRT.rturn_submit }}            
        </p>
    </form>
</div>
{% endblock %}


